<div id="content" ng-controller="userCtrl">
<div id="content-header">
  <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="javascript:void(0)" class="current">Change Password</a> </div>
  <h1>Change Password</h1>
</div>
    <div class="container-fluid">
        <hr>
  <div class="row-fluid">
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Password Details</h5>
        </div>
        <div class="widget-content nopadding">
          <form method="post" novalidate class="form-horizontal" id="passwordForm" name="passwordForm" ng-submit="passwordForm.$valid && updatePassword()">
            <center><span style="color:red" ng-if="errorMessage">{{ errorMessage }}</span>
            <span style="color:green" ng-if="successMessage">{{ successMessage }}</span>
            <div style="margin-top:10px;" class="loadersmall" ng-if="isLoading"></div></center>
            <div class="control-group">
              <label class="control-label">Old Password</label>
              <div class="controls">
                <input type="password"  class="span11" placeholder="Enter Old Password" name="oldPassword" ng-model="oldPassword" required/>
                <span class="error-msgs" ng-show="passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$invalid">
                    <span ng-show="passwordForm.oldPassword.$error.required">Old Password is required.</span>
                </span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">New Password</label>
              <div class="controls">
                <input type="password"  class="span11" placeholder="Enter New Password" name="newPassword" ng-model="newPassword" required/>
                <span class="error-msgs" ng-show="passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid">
                    <span ng-show="passwordForm.newPassword.$error.required">New Password is required.</span>
                </span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Confirm Password</label>
              <div class="controls">
                <input type="password"  class="span11" placeholder="Enter Confirm Password" name="confirmPassword" ng-model="confirmPassword" required/>
                <span ng-show="passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$invalid" class="error-msgs">
                    <span ng-show="passwordForm.confirmPassword.$error.required">Confirm Password is required.</span>
                </span>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-success" ng-disabled="passwordForm.$invalid" disabled="disabled">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
</div>