<!--main-container-part-->
<!-- <div id="content" > -->
<!--breadcrumbs-->
 <!--  <div id="content-header">
    <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div> -->
<!--End-breadcrumbs-->

<!--Action boxes-->
  <!-- <div class="container-fluid">
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href="/"> <i class="icon-dashboard"></i> <span class="label label-important">20</span> My Dashboard </a> </li>
        <li class="bg_lg span3"> <a href="javascript:void(0);"> <i class="icon-signal"></i> Reports</a> </li>
        <li class="bg_ly"> <a href="widgets.html"> <i class="icon-user"></i><span class="label label-success">101</span> Active Users </a> </li>
        <li class="bg_lo"> <a href="javascript:void(0);"> <i class="icon-user"></i> Total Users</a> </li>

      </ul>
    </div> -->
<!--End-Action boxes--> 
<section id="content" ng-controller="userCtrl">
  <div class="container">
    <header class="page-header">
      <h3>Dashboard <small>Statistics for this month</small></h3>
    </header>
    <div class="overview row">
      <div class="col-md-3 col-sm-6">
        <div class="o-item bg-cyan">
          <div class="oi-title">
            <span data-value="450382"></span>
            <span>Website Traffics</span>
          </div>  
          <div class="overview-chart-line text-center">1</div>  
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
          <div class="o-item bg-amber">
              <div class="oi-title">
                  <span data-value="8737"></span>
                  <span>Total Sales</span>
              </div>
              <div class="overview-chart-line text-center">1</div>
          </div>
      </div>
          
      <div class="col-md-3 col-sm-6">
          <div class="o-item bg-green">
              <div class="oi-title">
                  <span data-value="450382"></span>
                  <span>Website Impressions</span>
              </div>
              
              <div class="overview-chart-line text-center">1</div>
          </div>
      </div>
          
      <div class="col-md-3 col-sm-6">
        <div class="o-item bg-bluegray">
            <div class="oi-title">
                <span data-value="452"></span>
                <span>Support Tickets</span>
            </div>
            
            <div class="overview-chart-line text-center">1</div>
        </div>
      </div>
    </div> 
  </div>
</section>   
