<main class="animsition " ng-init="forgot()">
  <!--Main container sec start-->
  <div class="main_container  ">
    <section class="signForm_sec">
      <div class="container" ng-switch="myVar">
        <div class="formpar text-center"  ng-switch-default>
          <h1>Forgot Your Password</h1>
          <p>Don’t worry just fill in your email and we’ll help <br>
          you reset your password</p>
          <form id="forgotpassword" novalidate ng-submit="forgotPassword()" name="forgotpassword">
            
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email Address"  required ng-model="data.userEmail" name="userEmail">
              <span class="error-msgs" ng-show="forgotpassword.userEmail.$dirty && forgotpassword.userEmail.$invalid">
                <span ng-show="forgotpassword.userEmail.$error.email">Please enter valid email address.</span>
              </span>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block theme_btn" titleBtn="Reset Password"  ng-disabled="forgotpassword.$invalid || forgotLoader" disabled="disabled"><span ng-if="forgotLoader"><i class="fa fa-circle-o-notch fa-spin" ></i></span>Reset Password</button>
            </div>
            
          </form>
        </div>
        <div class="main_container" ng-switch-when="1">
          <section class="signForm_sec ">
            <div class="container">
              <div class="formpar text-center">
                <h1>Confirmation</h1>
                <p>Please enter 6 digit code which has been sent to your email <span class="email-msgs">{{userEmail}}</span> <span ng-if="isloggedIn">Please verify your accout</span></p>
                <form id="verify_otp" name="verify_otp" novalidate ng-submit="verifyOtp()">
                  <div class="form-group confiInput">
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="" required ng-model="data.code1" id="code1" name="code1"  numbers-only valid-number maxlength="1"  ng-class="(verify_otp.code1.$dirty && verify_otp.code1.$invalid == true) ? 'active-error-msgs' : ''" auto-tab-to="code2">
                       
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="" auto-tab-to="code3" required ng-model="data.code2" id="code2" name="code2"  numbers-only valid-number maxlength="1"  ng-class="(verify_otp.code2.$dirty && verify_otp.code2.$invalid == true) ? 'active-error-msgs' : ''">
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="" auto-tab-to="code4" required ng-model="data.code3" id="code3" name="code3"  numbers-only valid-number maxlength="1"  ng-class="(verify_otp.code3.$dirty && verify_otp.code3.$invalid == true) ? 'active-error-msgs' : ''">
                      </div>

                      <div class="col">
                        <input type="text" class="form-control" placeholder="" auto-tab-to="code5" required ng-model="data.code4" id="code4" name="code4"  numbers-only valid-number maxlength="1"  ng-class="(verify_otp.code4.$dirty && verify_otp.code4.$invalid == true) ? 'active-error-msgs' : ''">
                      </div>

                      <div class="col">
                        <input type="text" class="form-control" placeholder="" auto-tab-to="code6" required ng-model="data.code5" id="code5" name="code5"  numbers-only valid-number maxlength="1"  ng-class="(verify_otp.code5.$dirty && verify_otp.code5.$invalid == true) ? 'active-error-msgs' : ''">
                      </div>

                      <div class="col">
                        <input type="text" class="form-control" placeholder="" required ng-model="data.code6" id="code6" name="code6"  numbers-only valid-number maxlength="1"  ng-class="(verify_otp.code6.$dirty && verify_otp.code6.$invalid == true) ? 'active-error-msgs' : ''">
                      </div>
                    </div> 
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block theme_btn" ng-disabled="verify_otp.$invalid || verifyLoader" disabled="disabled"><span ng-if="verifyLoader"><i class="fa fa-circle-o-notch fa-spin" ></i></span>Submit</button>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block theme_btn" ng-click="resendCode()" ng-disabled="resendLoader || resendLoaderResponse" ><span ng-if="resendLoaderResponse"><i class="fa fa-circle-o-notch fa-spin" ></i></span> <span ng-if="resendLoader">{{timer | toMinSec}}</span> <span ng-if="!resendLoader">Resend Code</span></button>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>
        <div class="main_container" ng-switch-when="2">
          <section class="signForm_sec">
            <div class="container">
              <div class="formpar text-center">
                <h1>Create Your New Password</h1>
                <form id="reset_password" name="reset_password" novalidate ng-submit="resetPassword()">
                  <div class="form-group">
                    <input type="password" prevent-copy-paste  class="form-control" placeholder="Enter New Password" name="newPassword" ng-model="data.newPassword" required>
                    <span class="error-msgs" ng-show="reset_password.newPassword.$dirty && reset_password.newPassword.$invalid">
                      <span ng-show="reset_password.newPassword.$error.required">New Password is required.</span>
                    </span>
                  </div>
                  <div class="form-group">
                    <input type="password"  class="form-control" placeholder="Confirm New Password" name="confirmPassword" ng-model="data.confirmPassword" required compare-to="data.newPassword">
                    <span class="error-msgs" ng-show="reset_password.confirmPassword.$dirty && reset_password.confirmPassword.$invalid">
                      <span ng-show="reset_password.confirmPassword.$error.required">Confirm Password is required.</span>
                      <span ng-show="!reset_password.confirmPassword.$error.required && reset_password.confirmPassword.$error">Please enter correct Confirm Password.</span>
                      </span>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block theme_btn" titleBtn="Reset Password"  ng-disabled="reset_password.$invalid || resetLoader" disabled="disabled" ><span ng-if="resetLoader"><i class="fa fa-circle-o-notch fa-spin" ></i></span>Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
  <!--Main container sec end-->
</main>
  