<!--Header sec start-->
<header class="header_sec" id="header">
  	<div class="header-top">
     	<div class="container ">
      		<div class="row">
        		<div class="col-sm-6 offset-sm-6">
          			<ul class="list-inline text-right">
           				<li class="list-inline-item"><a  href="login" translate>SIGN_IN</a></li>
            			<li class="list-inline-item"><a  href="/sign-up" translate>SIGN_UP</a></li>
          			</ul>
        		</div>
      		</div>
      	</div>
  	</div>
      
  	<div class="header-bottom  main_nav">
    	<div class="container ">
          	<div class="row">
            	<div class="col-sm-3">
              		<div class="logo">
                  		<a href="index.html"> <img src="img/logo.png"  class="img-responsive"></a>
              		</div>
            	</div>
            	<div class="col-sm-9  text-right rmt10 mt10 mb10">
              		<nav class="navbar navbar-expand-lg navbar-light float-right bg-light">
		                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		                  aria-expanded="false" aria-label="Toggle navigation">
		                    <span class="navbar-toggler-icon"></span>
		                </button>

                		<div class="collapse navbar-collapse bR5" id="navbarSupportedContent">
		                  	<ul class="navbar-nav  text-center justify-content-center ">
		                    	<li class="nav-item "> <a class="nav-link" href="about">About {{APP_NAME}} </a></li>
		                    	<li class="nav-item "> <a class="nav-link" href="#" translate>GET_APP</a></li>
		                  	</ul>
		                </div>
              		</nav>
            	</div>
          </div>
        </div>
    </div>
</header>
<!-- Header sec END-->