
<main class="animsition home " >
    <!--Main container sec start-->
    <div class="main_container  ">
        <div class="banner-top  ">
            <div class="tmnl_slider1">
                <div class="banner_imgpar lh0">
                    <img src="img/bg1.jpg" alt="" width="100%">
                </div>
            </div>
            <div class="banner_img_text">
                <div class="container text-center">
                    <h4>Welcome to {{APP_NAME}}</h4>
                    <p translate>TRY_AMAZING_DESTINATION_FOR_DESSERTS</p>

                    <form action="time_line.html">
                        <div class="row ">
                            <div class="col-sm-8 offset-sm-2 ">
                                <div class="row ">
                                    <div class="col-sm-9  searchBox">
                                        <div class="input-group  mb-3">
                                            <input type="text" class="form-control" placeholder="I’m Looking for..." >
                                            <div class="input-group-prepend" ng-init="success();">
                                              <span class="input-group-text" id="basic-addon1">{{cityLocation}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <a  href="/home_otherlist"  ng-click="clickSearch(searchPlace)" class="btn btn-primary btn-block theme_btn" translate>SEARCH</a>
                                    </div>
                                </div>
                                <ul class="list-inline ">
                                    <li class="list-inline-item "> <a  href="#"><i class="flaticon-cookies"></i><span translate>DESSERTS</span></a></li>
                                    <li class="list-inline-item "> <a  href="#"><i class="flaticon-food"></i><span translate>CAKES</span></a></li>
                                    <li class="list-inline-item "> <a  href="#"><i class="flaticon-piece-of-cake"></i><span translate>PASTRIES</span>  </a></li>
                                    <li class="list-inline-item "> <a  href="#"><i class="flaticon-meal"></i><span translate>CATERINGS</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </form>                                 
                </div>
            </div>
            <div class="banner_img_text_bottom text-center">
                <h3 translate>WANT_TO_ADD_YOUR_BUSINESS</h3>
            </div>
        </div><!--banner-top-->
    </div>
    <!--Main container sec end-->
</main>





