<!--Footer sec start-->
<footer id="footer" class="footer_sec ">
    <div class="footer-top text-center">
        <h2 translate>DOWNLOAD_APP_FOR_FREE</h2>
        <ul class="list-inline  text-center">
            <li class="list-inline-item">
                <a href="#"><img src="front/img/app1.png" alt=""></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><img src="front/img/app2.png" alt=""></a>
            </li>

        </ul>
    </div>

    <div class="footer_copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ">

                    <p>LAMMAH © 2018 All rights reserved.</p>

                </div>

                <div class="col-sm-6 ">
                    <ul class="list-inline  text-right  quick_link">
                        <li class="list-inline-item"><a href="term.html" translate>TERM_CONDITIONS</a></li>
                        <li class="list-inline-item"><a href="privacy.html" translate>PRIVACY_POLICY</a></li>
                        <li class="list-inline-item"><a href="help.html" translate>HELP_SUPPORT</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>

<div id="back-top">
    <a href="#top">
        <i class="fa fa-arrow-up"></i>
    </a>
</div>
<!--Footer sec end-->
</main>